
.vs/revenant/v16/.suo
.vs/revenant/v16/Browse.VC.db
.vs/revenant/v16/Browse.VC.db-shm
.vs/revenant/v16/Browse.VC.db-wal
.vs/revenant/v16/Browse.VC.opendb
.vs/revenant/v16/ipch/AutoPCH/1b7dd6e8fb6f58dc/COMMAND.ipch
.vs/revenant/v16/ipch/AutoPCH/4aefcc648486d028/HV.ipch
.vs/revenant/v16/ipch/AutoPCH/4d22707bf318f165/DRIVER.ipch
.vs/revenant/v16/ipch/AutoPCH/53f73e141ba41ff1/REVENANT_UM.ipch
.vs/revenant/v16/ipch/AutoPCH/55570363f6ab477/HANDLERS.ipch
.vs/revenant/v16/ipch/AutoPCH/757f2c9759a0575d/GDT.ipch
.vs/revenant/v16/ipch/AutoPCH/78b3bfa3406c2744/MM.ipch
.vs/revenant/v16/ipch/AutoPCH/7a7f3345a17334aa/HANDLERS.ipch
.vs/revenant/v16/ipch/AutoPCH/82433679e306f2f4/MAIN.ipch
.vs/revenant/v16/ipch/AutoPCH/95e906e3cce4ec13/EPT.ipch
.vs/revenant/v16/ipch/AutoPCH/a7a7d6cbff7000f/MAIN.ipch
.vs/revenant/v16/ipch/AutoPCH/ac1ff93ec587479/VMCS.ipch
.vs/revenant/v16/ipch/AutoPCH/b0c4afef696967c5/MM.ipch
.vs/revenant/v16/ipch/AutoPCH/babec038dbb90a52/INTERRUPT_HANDLERS.ipch
.vs/revenant/v16/ipch/AutoPCH/bd7ab3480b7d67d7/MTRR.ipch
.vs/revenant/v16/ipch/AutoPCH/bbac552119d41d02/VCPU.ipch
.vs/revenant/v16/ipch/AutoPCH/cdaf67fcde2fb95b/VMEXIT.ipch
.vs/revenant/v16/ipch/AutoPCH/d1469ea939d5a8c3/VMX.ipch
.vs/revenant/v16/ipch/AutoPCH/d4d37e1c634504b0/GUEST_REGISTERS.ipch
.vs/revenant/v16/ipch/AutoPCH/d56613703358f871/HYPERCALLS.ipch
.vs/revenant/v16/ipch/AutoPCH/e59dcb1d3886d833/IDT.ipch
.vs/revenant/v16/ipch/AutoPCH/e7503ac8e2c276c2/LOGGER.ipch
.vs/revenant/v16/ipch/AutoPCH/f0be3b10316ab7a1/PAGE_TABLES.ipch
.vs/revenant/v16/ipch/AutoPCH/f21aff37aaecd9fc/TIMING.ipch
.vs/revenant/v16/ipch/AutoPCH/fea2f296b712365/SEGMENT.ipch
.vs/revenant/v16/Solution.VC.db
.vs/revenant/v16/Solution.VC.db-wal
.vs/revenant/v16/Solution.VC.db-shm
.vs/revenant/v16/ipch/AutoPCH/2b916b57909ad095/MAIN.ipch
.vs/revenant/v16/ipch/AutoPCH/3899ef6852e21d3e/HV.ipch
.vs/revenant/v16/ipch/AutoPCH/3ace50cd08b19d16/MAIN.ipch
.vs/revenant/v16/ipch/AutoPCH/3c6b697a99cff031/EPT.ipch
.vs/revenant/v16/ipch/AutoPCH/4277a71cbdf7b86d/VMX.ipch
.vs/revenant/v16/ipch/AutoPCH/45282b6c2db1121a/COMMAND.ipch
.vs/revenant/v16/ipch/AutoPCH/4ab65168293d0226/UTILS.ipch
.vs/revenant/v16/ipch/AutoPCH/6cc29d30d6b9a07c/VCPU.ipch
.vs/revenant/v16/ipch/AutoPCH/7f1579adc4f91087/HYPERCALLS.ipch
.vs/revenant/v16/ipch/AutoPCH/dbb42231be3c84f5/HANDLERS.ipch
.vs/revenant/v16/ipch/AutoPCH/e02e2d7c16c7d33/REVENANT_UM.ipch
.vs/revenant/v16/ipch/AutoPCH/fe9ef6e4ef7be5b/DRIVER.ipch
build/intermediate/disassembly.obj
build/intermediate/driver.obj
build/intermediate/revenant.Build.CppClean.log
build/intermediate/revenant.log
build/intermediate/revenant_km.Build.CppClean.log
build/intermediate/revenant_km.log
build/intermediate/revenant_km.sys.recipe
build/intermediate/revenant_km.tlog/CL.command.1.tlog
build/intermediate/revenant_km.tlog/CL.read.1.tlog
build/intermediate/revenant_km.tlog/CL.write.1.tlog
build/intermediate/revenant_km.tlog/link.command.1.tlog
build/intermediate/revenant_km.tlog/link.read.1.tlog
build/intermediate/revenant_km.tlog/link.write.1.tlog
build/intermediate/revenant_km.tlog/Masm.read.1u.tlog
build/intermediate/revenant_km.tlog/Masm.write.1u.tlog
build/intermediate/revenant_km.tlog/revenant_km.lastbuildstate
build/intermediate/revenant_km.tlog/signtool.command.1.tlog
build/intermediate/revenant_km.tlog/signtool.read.1.tlog
build/intermediate/revenant_km.tlog/signtool.timestamp.1.tlog
build/intermediate/revenant_km.tlog/signtool.write.1.tlog
build/intermediate/revenant_um.Build.CppClean.log
build/intermediate/revenant_um.exe.recipe
build/intermediate/revenant_um.iobj
build/intermediate/revenant_um.ipdb
build/intermediate/revenant_um.log
build/intermediate/revenant_um.tlog/CL.command.1.tlog
build/intermediate/revenant_um.obj
build/intermediate/revenant_um.tlog/CL.read.1.tlog
build/intermediate/revenant_um.tlog/CL.write.1.tlog
build/intermediate/revenant_um.tlog/link.command.1.tlog
build/intermediate/revenant_um.tlog/link.read.1.tlog
build/intermediate/revenant_um.tlog/link.write.1.tlog
build/intermediate/revenant_um.tlog/revenant_um.lastbuildstate
build/intermediate/revenant_um.vcxproj.FileListAbsolute.txt
build/revenant.cer
build/revenant.pdb
build/revenant.sys
build/revenant/revenant.sys
build/revenant_km.cer
build/revenant_km.pdb
build/revenant_km.sys
build/revenant_km/revenant_km.sys
build/revenant_um.exe
build/revenant_um.pdb
